<footer class="footer">
  <div id='menu_footer'>
    <ul>
      <li><a href='/ranking-estados' class='button'>Link Perron</a></li>
      <li><a href='/ranking-estados' class='button'>Ranking de Ciudades</a></li>
    </ul>
  </div>
  <div id='about'>
    <span>Costo de Vida - <strong><a href='http://iwano.me' target='_blank'>ivan Calderon</a></strong></span><br />
    <span>Contacto - <strong><a href='mailto:iwano@hotmail.com.br' target='_blank'>iwano@hotmail.com</a></strong></span>
  </div>
</footer>