<nav id='mainNav'>
	<ul>
		<li>Restaurante</li>
		<li>Supermercado</li>
		<li>Transporte</li>
		<li>Utilidades</li>
		<li>Utilidades y Ocio</li>
		<li>Vivienda</li>
		<li>Educacion</li>
		<li>Hosteleria y Motelaria</li>
	</ul>
</nav>